<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <pages enableSessionState="false" enableViewState="false" theme="White" masterPageFile="~/master/global.master" />
    <globalization fileEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>